@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@400;500;700&display=swap');

/* common styles */
body{
font-family: 'Poppins', sans-serif;
}
.backg-gradient{
background-image: linear-gradient(90deg, #2937f0, #9f1ae2 );
}
.text-blue{
    color: #2937f0;
}

/* navigation styles */

.navigation{
    height: 80px;
    width: 100%;
}

.new-design{
    /* height: 100vh; */
}